<div class="update">
  <div class="heading">
    <div class="tag">
      <%= render partial: 'postit', locals: {update: update} %>
    </div>
    <div class="content">
      <div class="description"> 
        <b><%= update.author %></b> <%= update.type_as_string %>
      </div>
      <div class="title">
        <span class="folder"><%= update.article.folder %> / </span><a href="<%= update.article.href %>"><%= update.article.title %></a>
      </div>
    </div>
  </div>
  <div class="preview">
    <%= raw update.diff_snippet %>
  </div>
  <div class="bottom_frame">
  </div>
  <div class="footer">
    <span class="footerCollapsed"><a onclick="expandPreview(this);" href="javascript:void(0);">&darr; view more</a></span>
    <span class="footerLink"><a href="<%= update.article.href %>">&rarr; full article</a></span>
  </div>
</div>
